<h1>Editing team</h1>

<% form_for :team, :url => { :action => :update, :id => @team}, :html => { :method => :put } do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :league_id %><br />
    <%= f.text_field :league_id %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', league_team_path(@team.league_id, @team.id) %> |
<%= link_to 'Back', :back %>
