<h1><%= h @league.name %> Teams</h1>

<table>
  <tr>
    <th>Name</th>
    <th>League</th>
  </tr>

<% if !@teams.nil? %>
  <% @teams.each do |team| %>
    <tr>
      <td><%=h team.name %></td>
      <td><%=h team.league.name %></td>
      <td><%= link_to 'Show', league_team_path(team.league_id, team.id) %></td>
      <td><%= link_to 'Edit', edit_league_team_path(team.league_id, team.id) %></td>
      <td><%= link_to 'Destroy', league_team_path(team.league_id, team.id), :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
<% end %>
</table>

<br />

<%= link_to 'New team', new_league_team_path %>
